  <!-- Delivery section -->
    <section class = "section_delivery">
      <div class = "container">
        <h2 class = "delivery_title">ДОСТАВКА</h2>
        <div class = "menu_options">
          <ul>
            <li class = "menu_item">
              <button class = "menu_button" type="button">ОБМЕН</button>
            </li>
            <li class = "menu_item">
            <button class = "menu_button" type="button">ВОЗВРАТ</button>
            </li>
            <li class = "menu_item">
              <button class = "menu_button" type="button">ОПЛАТА</button>
              </li>
          </ul>
        </div>
        <div>
          <h3>ВИДЫ ДОСТАВКИ</h3>
          <img class="delivery-image" srcset="./images/img/delivery/delivery_img.jpg, ./images/img/delivery/delivery_img@2x.jpg" src="./images/delivery/delivery_img.jpg" alt="Черная упаковка с товаром на белом комоде">
import '../../.././images/delivery/delivery_img.jpg'
          {{!-- <img src="../../../images/img/delivery/delivery_img.jpg" alt="Черная упаковка с товаром на белом комоде" width="100%" /> --}}
          <ul class = "delivery__types">
              <li class = "delivery__types_item">
                    <p>Механизм нашей работы продуман до мелочей. Вам не придется беспокоиться и долго ждать.</p>
                    <p>Служба доставки работает без выходных с 8 утра до 1 часа ночи. Мы осуществляем доставку по Москве и ближайшему Подмосковью.</p>
                    <p>Оформляя заказ, просто выберите подходящий вам временной интервал и мы доставим ваши продукты точно в указанное время.</p>
              </li>
          </ul>
        </div>
      </div>
    </section>